Monexa.DET/Web References/com.monexa.api/check_password.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CheckPasswordRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="CHECK_PASSWORD" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CHECK_PASSWORD">
    <xsd:annotation>
      <xsd:documentation>
				The Password Check will check the password given in the request against the Subscriber’s
				password in the database and return Success if the password matches, and a failure if it
				does not.
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					The following is the list of Required Fields for the Check Password Request:
						Account_Information: (account_id | login_id, provider_id), password
			</xsd:documentation>
      <xsd:documentation>
				Conditional Required Fields
					Conditional Required Fields for the Update Subscriber Request:
						If Provider is configured to require external_group_id: Account_Information:external_group_id
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Subscriber_Information" type="CHK_PWD_SUBSCRIBER_INFORMATION_TYPE" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CHK_PWD_SUBSCRIBER_INFORMATION_TYPE">
    <xsd:sequence>
      <xsd:element name="Account_Information" type="CHK_PWD_ACCOUNT_INFORMATION_TYPE" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CHK_PWD_ACCOUNT_INFORMATION_TYPE">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="account_id" />
      <xsd:element minOccurs="0" ref="login_id" />
      <xsd:element minOccurs="0" ref="external_group_id" />
      <xsd:element minOccurs="0" ref="provider_id" />
      <xsd:element ref="password" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>