Monexa.DET/Web References/com.monexa.api/delete_line_items_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DeleteLineItemsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="DELETE_LINE_ITEMS" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DELETE_LINE_ITEMS">
    <xsd:annotation>
      <xsd:documentation>
			  	The DELETE_LINE_ITEMS request will delete or roll back the Line Items for an account.
			</xsd:documentation>
      <xsd:documentation>
				The following is the list of Required Fields for the Delete Line Items Request:
				DELETE_LINE_ITEMS: account_id
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="account_id" />
          <xsd:element ref="Account_Namespace" />
        </xsd:choice>
        <xsd:element minOccurs="0" ref="billing_type" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_DELETE_LINE_ITEMS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Line_Item" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>