Monexa.DET/Web References/com.monexa.api/delete_usage_data_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DeleteUsageDataRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="DELETE_USAGE_DATA" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DELETE_USAGE_DATA">
    <xsd:annotation>
      <xsd:documentation>
				The Delete Usage Data operation will delete one or more line items.
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					The following is the list of required fields for the Delete Usage Data request:
						Usage_Data: usage_id
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Usage_Data" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_DELETE_USAGE_DATA">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Delete_Usage_Data_Error" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>