Monexa.DET/Web References/com.monexa.api/generate_line_items_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GenerateLineItemsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="GENERATE_LINE_ITEMS" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GENERATE_LINE_ITEMS">
    <xsd:annotation>
      <xsd:documentation>
				The Generate Line Items operation will generate line items for an account.
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					The following is the list of required fields for the Generate Line Items request:
						account_id
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="account_id" />
          <xsd:element ref="Account_Namespace" />
        </xsd:choice>
        <xsd:element minOccurs="0" ref="billing_type" />
        <xsd:element minOccurs="0" ref="End_Date" />
        <xsd:element minOccurs="0" ref="bill_in_advance_days" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_GENERATE_LINE_ITEMS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Line_Item" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>