Monexa.DET/Web References/com.monexa.api/list_session_key_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ListSessionKeyRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="LIST_SESSION_KEY" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LIST_SESSION_KEY">
    <xsd:annotation>
      <xsd:documentation>
				List Session Key will return the available keys for the specified Account.
				Note if the optional session_type parameter is not specified, the result set
				will contain all available keys for the specified Account.
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					The following is the list of Required Fields for the List Session Key Request:
					    LIST_SESSION_KEY: account_id | Account_Namespace
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="account_id" />
          <xsd:element ref="Account_Namespace" />
        </xsd:choice>
        <xsd:element minOccurs="0" ref="session_type" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_LIST_SESSION_KEY">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Session_Key" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>