Monexa.DET/Web References/com.monexa.api/lookup_plan_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LookupPlanRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="LOOKUP_PLAN" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LOOKUP_PLAN">
    <xsd:annotation>
      <xsd:documentation>
				The LOOKUP_PLAN request will return detailed information for a specific Plan.
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					The following is the list of Required Fields for the LOOKUP_PLAN Request:
						provider_id
						plan_id
			</xsd:documentation>
      <xsd:documentation>
				Additional Information
					Information for Plans such as Plan_Services, Plan_Discounts or Plan_Restrictions can also
					be requested by adding the following commands to the request:
						LIST_PLAN_SERVICES
						LIST_PLAN_DISCOUNTS
						LIST_PLAN_RESTRICTIONS
						LIST_PRICE_BOOKS
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="provider_id" />
        <xsd:element ref="plan_id" />
        <xsd:element minOccurs="0" ref="LIST_PLAN_SERVICES" />
        <xsd:element minOccurs="0" ref="LIST_PLAN_DISCOUNTS" />
        <xsd:element minOccurs="0" ref="LIST_PLAN_RESTRICTIONS" />
        <xsd:element minOccurs="0" ref="LIST_PRICE_BOOKS" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_LOOKUP_PLAN">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Plan" type="REP_LOOKUP_PLAN_PLAN_TYPE" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="REP_LOOKUP_PLAN_PLAN_TYPE">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="provider_id" />
      <xsd:element minOccurs="0" ref="provider_name" />
      <xsd:element ref="plan_id" />
      <xsd:element minOccurs="0" ref="name" />
      <xsd:element minOccurs="0" name="description" type="string4000" />
      <xsd:element minOccurs="0" ref="product_id" />
      <xsd:element minOccurs="0" ref="price" />
      <xsd:element minOccurs="0" ref="setup_fee" />
      <xsd:element minOccurs="0" ref="setup_fee_description" />
      <xsd:element minOccurs="0" ref="early_cancellation_penalty" />
      <xsd:element minOccurs="0" ref="cancellation_penalty_days" />
      <xsd:element minOccurs="0" ref="expiry_num_units" />
      <xsd:element minOccurs="0" ref="expiry_units" />
      <xsd:element minOccurs="0" ref="use_plan_credit_limit" />
      <xsd:element minOccurs="0" ref="credit_limit" />
      <xsd:element minOccurs="0" ref="pooled_access" />
      <xsd:element minOccurs="0" ref="pool_limit" />
      <xsd:element minOccurs="0" maxOccurs="3" ref="plan_property" />
      <xsd:element minOccurs="0" name="custom_field_1" type="string1024" />
      <xsd:element minOccurs="0" name="custom_field_2" type="string1024" />
      <xsd:element minOccurs="0" name="custom_field_3" type="string1024" />
      <xsd:element minOccurs="0" name="custom_field_4" type="string1024" />
      <xsd:element minOccurs="0" name="custom_field_5" type="string2048" />
      <xsd:element minOccurs="0" name="custom_field_6" type="string2048" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Plan_Discount_Type" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Plan_Service" type="REP_LOOKUP_PLAN_PLAN_SERVICE_TYPE" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Plan_Restriction" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Price_Book" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="REP_LOOKUP_PLAN_PLAN_SERVICE_TYPE">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Service_Group" type="REP_LOOKUP_PLAN_SERVICE_GROUP_TYPE" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="REP_LOOKUP_PLAN_SERVICE_GROUP_TYPE">
    <xsd:sequence>
      <xsd:element ref="service_group_id" />
      <xsd:element name="description" type="string64" />
      <xsd:element minOccurs="0" ref="summary" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Service" type="REP_LOOKUP_PLAN_SERVICE_TYPE" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="REP_LOOKUP_PLAN_SERVICE_TYPE">
    <xsd:sequence>
      <xsd:element ref="service_id" />
      <xsd:element name="description" type="string64" />
      <xsd:element ref="service_type" />
      <xsd:element minOccurs="0" ref="price" />
      <xsd:element ref="default_service" />
      <xsd:element ref="optional_service" />
      <xsd:element ref="product_id" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>