Monexa.DET/Web References/com.monexa.api/search_invoice_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SearchInvoiceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="SEARCH_INVOICE" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SEARCH_INVOICE">
    <xsd:annotation>
      <xsd:documentation>
				Search Invoice will return invoices for the specified Account.
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					The following is the list of Required Fields for the List Invoices Request:
						SEARCH_INVOICE: provider_id | account_id | Account_Namespace
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="provider_id" />
          <xsd:element ref="account_id" />
          <xsd:element ref="Account_Namespace" />
        </xsd:choice>
        <xsd:element ref="information_type" />
        <xsd:element minOccurs="0" ref="invoice_status" />
        <xsd:element minOccurs="0" ref="external_invoice_number" />
        <xsd:element minOccurs="0" ref="Start_Date" />
        <xsd:element minOccurs="0" ref="End_Date" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_SEARCH_INVOICE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Invoice_Information" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>