Monexa.DET/Web References/com.monexa.api/validate_session_key_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ValidateSessionKeyRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="VALIDATE_SESSION_KEY" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VALIDATE_SESSION_KEY">
    <xsd:annotation>
      <xsd:documentation>
				Validate Session Key validates and simultaneously uses the session key that 
				is submitted. Once a key is validated and used, it can no longer be used.
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					The following is the list of Required Fields for the Get Session Key Request:
					    VALIDATE_SESSION_KEY: session_key
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="session_key" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_VALIDATE_SESSION_KEY">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="account_id" />
        <xsd:element ref="session_type" />
        <xsd:element ref="session_information" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>