Monexa.DET/Web References/MonexaAPI/create_plan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CreatePlanRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="CREATE_PLAN" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CREATE_PLAN">
    <xsd:annotation>
      <xsd:documentation>
				The CREATE_PLAN request will create a new Plan in iTAPP.
			</xsd:documentation>
      <xsd:documentation>
				Command Specific Request Fields
					The following is the list of Required Fields for the Create Plan Request:
						provider_id
						plan_id
						name
			</xsd:documentation>
      <xsd:documentation>
				Conditional Required Fields
					Conditional Required Fields for the Create Plan Request:
						if use_plan_credit_limit=’Y’: credit_limit
						expiry_num_units: expiry_units
						expiry_units: expiry_num_units
						billing_frequency: discount_type
						pooled_access: pool_limit
						pool_limit: pooled_access
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Plan" type="CRE_PLAN_TYPE" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CRE_PLAN_TYPE">
    <xsd:sequence>
      <xsd:element ref="provider_id" />
      <xsd:element ref="plan_id" />
      <xsd:element ref="name" />
      <xsd:element minOccurs="0" name="description" type="string4000" />
      <xsd:element ref="product_id" />
      <xsd:element minOccurs="0" ref="price" />
      <xsd:element minOccurs="0" ref="setup_fee" />
      <xsd:element minOccurs="0" ref="setup_fee_description" />
      <xsd:element minOccurs="0" ref="early_cancellation_penalty" />
      <xsd:element minOccurs="0" ref="cancellation_penalty_days" />
      <xsd:element minOccurs="0" ref="expiry_num_units" />
      <xsd:element minOccurs="0" ref="expiry_units" />
      <xsd:element minOccurs="0" ref="use_plan_credit_limit" />
      <xsd:element minOccurs="0" maxOccurs="0" ref="apply_changes_to_existing" />
      <xsd:element minOccurs="0" ref="credit_limit" />
      <xsd:element minOccurs="0" ref="pooled_access" />
      <xsd:element minOccurs="0" ref="pool_limit" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="plan_property" />
      <xsd:element minOccurs="0" name="custom_field_1" type="string1024" />
      <xsd:element minOccurs="0" name="custom_field_2" type="string1024" />
      <xsd:element minOccurs="0" name="custom_field_3" type="string1024" />
      <xsd:element minOccurs="0" name="custom_field_4" type="string1024" />
      <xsd:element minOccurs="0" name="custom_field_5" type="string2048" />
      <xsd:element minOccurs="0" name="custom_field_6" type="string2048" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Plan_Discount_Type" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Plan_Service" type="CRE_PLAN_PLAN_SERVICE_TYPE" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CRE_PLAN_PLAN_SERVICE_TYPE">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Service_Group" type="CRE_PLAN_SERVICE_GROUP_TYPE" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CRE_PLAN_SERVICE_GROUP_TYPE">
    <xsd:sequence>
      <xsd:element ref="service_group_id" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Service" type="CRE_PLAN_SERVICE_TYPE" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CRE_PLAN_SERVICE_TYPE">
    <xsd:sequence>
      <xsd:element ref="service_id" />
      <xsd:element minOccurs="0" ref="price" />
      <xsd:element minOccurs="0" ref="default_service" />
      <xsd:element minOccurs="0" ref="optional_service" />
      <xsd:element ref="product_id" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>