Monexa.DET/Web References/MonexaAPI/create_invoice_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CreateInvoiceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="CREATE_INVOICE" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CREATE_INVOICE">
    <xsd:annotation>
      <xsd:documentation>
				The Create Invoice operation will create an invoice for an Account.
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					The following is the list of required fields for the Create Invoice request:
						account_id | Account_Namespace
						Invoice: invoice_amount, Invoice_Date
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="account_id" />
          <xsd:element ref="Account_Namespace" />
        </xsd:choice>
        <xsd:element minOccurs="0" ref="Invoice" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_CREATE_INVOICE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Invoice_Information" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>