Monexa.DET/Web References/MonexaAPI/list_statements_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ListStatementsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="LIST_STATEMENTS" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LIST_STATEMENTS">
    <xsd:annotation>
      <xsd:documentation>
				List Statements will return detailed statement information for the specified Account
				(invoice information plus payment information).
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					The following is the list of Required Fields for the List Statements Request:
						LIST_STATEMENTS: account_id | Account_Namespace
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="account_id" />
          <xsd:element ref="Account_Namespace" />
        </xsd:choice>
        <xsd:element ref="information_type" />
        <xsd:element minOccurs="0" ref="Start_Date" />
        <xsd:element minOccurs="0" ref="End_Date" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_LIST_STATEMENTS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="account_id" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Statement" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>