Monexa.DET/Web References/MonexaAPI/list_products_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ListProductsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="LIST_PRODUCTS" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LIST_PRODUCTS">
    <xsd:annotation>
      <xsd:documentation>
				The LIST_PRODUCTS request will return all Products configured in the system the
				Administrator has access to.
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					There are no required fields for LIST_PRODUCTS.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="provider_id" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_LIST_PRODUCTS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Product" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>