Monexa.DET/Web References/MonexaAPI/lookup_product_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LookupProductRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="LOOKUP_PRODUCT" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LOOKUP_PRODUCT">
    <xsd:annotation>
      <xsd:documentation>
				The LOOKUP_PRODUCT transaction returns details for a specific Product.
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					The following is the list of Required Fields for the LOOKUP_PRODUCT Request:
					provider_id
					product_id
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="provider_id" />
        <xsd:element ref="product_id" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_LOOKUP_PRODUCT">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="Product" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>