Monexa.DET/Web References/MonexaAPI/search_line_item_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SearchLineItemRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="SEARCH_LINE_ITEM" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SEARCH_LINE_ITEM">
    <xsd:annotation>
      <xsd:documentation>
				Search Line Itemss will return the line items for the specified Account.
				Note if the optional document_type parameter is not specified, the result set will
				contain all line items for the specified Account.
			</xsd:documentation>
      <xsd:documentation>
				Required Fields
					The following is the list of Required Fields for the Search Line Item Request:
					    SEARCH_LINE_ITEM: account_id | Account_Namespace
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="information_type" />
        <xsd:choice>
          <xsd:element ref="account_id" />
          <xsd:element ref="Account_Namespace" />
        </xsd:choice>
        <xsd:element minOccurs="0" ref="document_type" />
        <xsd:element minOccurs="0" ref="approval_status" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_SEARCH_LINE_ITEM">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Line_Item_Group" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>