Monexa.DET/Web References/MonexaAPI/search_product_and_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.monexa.com" targetNamespace="http://www.monexa.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SearchProductRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Authentication" />
        <xsd:element ref="SEARCH_PRODUCT" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SEARCH_PRODUCT">
    <xsd:annotation>
      <xsd:documentation>
			Search Product will return the specified product by id or all products if not id not specified.
		</xsd:documentation>
      <xsd:documentation>
			Required Fields
				The following is the list of Required Fields for the List Account History Request:
					SEARCH_PRODUCT: provider_id
		</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="provider_id" />
        <xsd:element minOccurs="0" ref="product_id" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response_SEARCH_PRODUCT">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Product" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>